#shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 72px 0;
}

.articulosLista {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descargables_list h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.descargable {
    margin: 20px;
    width: 153px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px 18px;
    background-color: #F4B77C;
    position: relative;
    gap: 10px;
}
.descargable > img {
    width: 140px;


}
.descargable > h3 {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;


}
#shop > h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  margin-bottom: 30px;
}

.descargables_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:32px;
    margin-top: 50px;
}

.descargar {
    position: absolute;
    bottom: -18px;
    padding: 7px 10px;
    background-color: var(--mainColor);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--textColor);
    text-decoration: none;
}


.comprar {
    position: absolute;
    bottom: -18px;
    padding: 7px 10px;
    background-color: var(--mainColor);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--textColor);
    text-decoration: none;
}

.venta {
    opacity: 0.5;
}

@media screen and (min-width: 1024px) {

    #shop > h2 {
        font-size: 40px;
        font-weight: 400;
    }
    .descargable {
        margin: 0 30px;
        width: 300px;
        height: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #F4B77C;
        position: relative;
        gap: 10px;
    }
    .descargable > img {
        width: 230px;
        height: 230px;   
    
    }
    .descargable > h3 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
    
    
    }

    
    .descargables_list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:40px;
        width: 90vw;
    }
    
    .descargar {
        position: absolute;
        bottom: -28px;
        background-color: var(--mainColor);
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--textColor);
        text-decoration: none;
        height: 60px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        transition: transform 0.3s;
    }

    .descargar:hover {
        transform: scale(1.1)
    }



    .comprar {
        position: absolute;
        bottom: -28px;
        background-color: var(--mainColor);
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--textColor);
        text-decoration: none;
        height: 60px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        cursor:not-allowed;
    }


    #shop {
        width: 98.8vw;
    }

    .articulosLista {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .descargables_list h2 {
        margin-top: 50px;
        font-size: 40px;
        font-weight: 400;
    }

    
}