#services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 60px 42px 10px;
  gap: 28px;
}

#services > h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.serviceSubtitle {
  text-align: center;
  width: 280px;
}

.service_Container {
  width: 241px;
  height: auto;
  margin: 15px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #8b8989;
  position: relative;
}

.service_Title {  
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.service_Content {
  width: 208px;
  height: 187px;
  margin: 25px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  flex-grow: 1;
  font-family: var(--font-secundaria);
}

.listItem {
  font-family: var(--font-secundaria);
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

.service_Button {
  position: absolute;
  bottom: -20px;
  width: 146px;
  height: 40px;
  padding: 5px 10px;
  background-color: var(--terciaryColor);
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-family: var(--font-secundaria);
}