#services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 60px 42px 10px;
  gap: 28px;
}

#services > h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.serviceSubtitle {
  text-align: center;
  width: 280px;
}

.service_Container {
  width: 241px;
  height: auto;
  margin: 15px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #8b8989;
  position: relative;
}

.service_Title {  
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  border-bottom: 2px solid var(--terciaryColor);
}

.service_Content {
  width: 208px;
  height: 187px;
  margin: 25px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-grow: 1;
  font-family: var(--font-secundaria);
}

.listItem {
  font-family: var(--font-secundaria);
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

.service_Button {
  position: absolute;
  bottom: -20px;
  width: 146px;
  height: 40px;
  padding: 5px 10px;
  background-color: var(--terciaryColor);
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-family: var(--font-secundaria);
}


@media screen and (min-width: 1024px) {
  
  #services > h2 {
    font-size: 40px;
  }
  
  .serviceSubtitle {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  
  .service_Container {
    width: 350px;
    height: 450px;
  }
  
  .service_Title {
    font-size: 24px;
  }
  
  .service_Content {
    width: 80%;
    height: auto;
  }
  
  .listItem {
    font-size: 20px;
    margin-top: 5px;
  }

  .serviciosContenedor {
    width: 70vw;
    height: auto;
  }
  
  .service_Button {
    bottom: -27px;
    width: 170px;
    height: 55px;
    font-size: 20px;
    transition: transform 0.3s;
  }

  .service_Button:hover {
    transform: scale(1.1)
  }
}