.icon{
    width: 260px;
    height: 2px ;
    background-color: var(--mainColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon::after{
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: white; 
      rotate: 45deg;
      border: 2px solid white;
  }
  
  .iconImg {
    position: relative; 
    z-index: 40;
  } 