.palabras {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 
.swiper3 {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.item {
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: auto;
}