#portfolio {    
  padding: 60px 0 42px 0 ;
  font-family: var(--font-prinsipal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#portfolio > h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.trabajos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  margin-top: 50px;
}

.trabajos > article{
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--mainColor);
  margin: 5px;
}

article > img {
  height: 200px;
  aspect-ratio: 16/9;
  position: relative;
  top: 0;
  left: 0;
  padding: 15px;
}

.trabajos > article > h3{
    height: 40px;
    min-height: 40px;
    width: 100%;
    background-color: var(--mainColor);
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    position: relative;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 1024px) {
  #portfolio > h2 {
    font-size: 40px;
    font-weight: 400;
  }

  .trabajos{
    width: 90%;
  }
}