.integrantes {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 50px 0 0 0;
}

.integrantes::before {
  content: "";
  background-image: url(../../assets/fondo3.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  opacity: 0.7; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
  
  .swiper2 {
      width: 300px;
      overflow: visible;
      padding: 0;
    }
    
    .integrante {
      background-position: center;
      background-size: cover;
      width: 70%;
      height: auto;
    }
    
    .integrante img {
      width: 100%;
    }

.swiper2 .swiper-button-prev {
  z-index: 9999;
  border-radius: 0;
  background-color: transparent;
  background-image: url(../../assets/prev.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 53px;
  height: 61px;  
  position:fixed;
  visibility: visible;
  margin-left: -40px;
}

.swiper2 .swiper-button-prev::after {
  color: var(--terciaryColor);
}

.swiper2 .swiper-button-next {
  z-index: 9999;
  border-radius: 0;
  background-color: transparent;
  background-image: url(../../assets/next.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 53px;
  height: 61px;  
  position:fixed;
  visibility: visible;
  margin-right: -40px;
}

.swiper2 .swiper-button-next::after {
  color: var(--terciaryColor);
}

.swiper2 .swiper-slide-prev,
.swiper2 .swiper-slide-next {
  visibility: hidden;
}


.int-res{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  width: 90vw;
}
.integrante1{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.integrante1 > img {
  width: 100%;
}
.integrante1:hover{
  transform: scale(1.2);
  cursor: pointer;
}
