#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#home > h1{
    visibility: hidden;
    opacity: 0;
}
.presentacion {
    display: flex;
    width:100%;
    height: 300px;
    background-image: url(../../assets/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    letter-spacing: 2px;
    font-size: 45px;
}

.mcontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.misionValor {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
    color: var(--mainColor);
}

.marco {
    border: 1px solid black;
    width: 70%;
    height: auto;
    text-align: center;
    padding: 45px 5px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--mainColor);
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 18px;
    color: var(--mainColor);
}

.bordearriba {
    position: absolute;
    top: -13px;
    width: 130px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
}

.bordeabajo {
    position: absolute;
    bottom: -8px; 
    width: 130px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
}

.serviciosContenedor {
    display: flex;
    flex-direction: column;    
}

.serviceContainer {
    width: 256px;
    height: 256px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--textColor);
    position: relative;
}

.serviceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    font-size: 40px;
    font-weight: 500;
}

.serviceButton {
    position: absolute;
    bottom: -25px; 
    width: 170px;
    height: 55px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--terciaryColor);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.serviceButton:hover {
    transform: scale(1.1);
}

.icons {
    width: 75px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes movimientoTexto {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .cartel {
    width: 90vw;
    height: 57px;
    margin: 30px 0;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .cartel span {
    width: 225vw;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-prinsipal);
    color: var(--textColor);    
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    animation: movimientoTexto 12s linear infinite 0s;
  }

  .bandera {
    margin: 0 15px;
    border-radius: 10px;
  } 
  
  @media screen and (min-width:1024px) {
    .presentacion{
        height: 500px;
    }
    .mvcontenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 50px 100px;
    }  
    
    .mcontenedor {
        width: 100%;
    }

    .misionValor {
        margin-bottom: 30px;
        font-size: 40px;
    }
    
    .marco {
        border: 1px solid black;
        width: 80%;
        height: auto;
        text-align: center;
        padding: 45px 30px;    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: var(--mainColor);
        transition: transform 0.3s;
    }

    .marco:hover {
        transform: scale(1.1);
        cursor: default;
    }
    
    .contenido {
        font-size: 20px;
    }

    .serviciosContenedor {
        width: 80vw;
        height: 400px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .cartel span {
    width: 90vw;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-prinsipal);
    color: var(--textColor);    
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .cartel {
    width: 50vw;
  }
  }