
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	z-index: 100;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 30px;
	background-color: var(--mainColor);
	width: 100%;
}
.logo > img {
	width: 120px;
	height: 69px;
	z-index: 10000;
}
nav {
	position: fixed;
	top: 80px;
	left: 0;
	height: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--mainColor);
	transition:all .3s ;
	z-index: 50;
	opacity: 0;
	visibility: hidden;
}
header .responsive_nav {
	visibility: inherit;
	transition: all .3s;
	align-items: center;
	justify-content: space-around;
	height:390px;
	opacity: 1;
	visibility: inherit;
	position: absolute;
    top: 80px;
	left: 0;

}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor) ;
	opacity: 1;
	font-size: 1.8rem;
	transition: all .3s;
}


.links {
	transition-delay: 1s;
	opacity: 0;
	visibility: hidden;
}
.active{
	opacity: 1;
	visibility: inherit;
	color: var(--textColor);
	font-size: 34px;
	text-decoration: none;
	transition: all .4s;
	font-weight:400;
    height: 90px;
	width: 100%;
	z-index: -1;
	transition: all .3s;
    border-bottom: 1px solid black;
	transition-delay: .1s;
	font-family: var(--font-prinsipal);
	display: flex;
	align-items: center;
	justify-content: center;
}
.selected {

	color: var(--secondaryColor);
	font-size: 34px;
	text-decoration: none;
	font-weight:400;
	transition: all .5s;
	width: 100%;
	height: 90px;
	font-family: var(--font-prinsipal);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
}
.btn-flag {
	width: 40px;
	height: 40px;
	border: none;
	margin: 10px 15px;
	background-color: var(--mainColor);
	cursor: pointer;
  }
  
  .flag {
	width: 40px;
	height: 40px;
	display: block;
  }
@media screen and (min-width:1024px) {
	header{
		justify-content: space-around;
	}
	nav{
		position: relative;
		top: 0;
		height: 50px;
		width: 50%;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		background-color: var(--textColor);
		visibility: visible;
		display: flex;
		opacity: 1;
		background-color: transparent;
	}
	header .nav-btn {
		display: none;
	}
	.links {
		color: var(--textColor);
		font-size: 1rem;
		transition: 0.2s;
		display: flex;
		align-items: center;
		visibility: inherit;
		border: none;
	}
	.links:hover{
		color: #8b8989;
	}

	.active{
		opacity: 1;
		visibility: visible;
		color: var(--textColor);
		font-size: 20px;
		text-decoration: none;
		font-weight:400;
		height: auto;
		width: auto;
		transition: all .5s;
		font-family: var(--font-prinsipal);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
	}

	.active:hover {
		color: var(--secondaryColor);
	}

	.selected {
		opacity: 1;
		visibility: visible;
		color: var(--secondaryColor);
		font-size: 20px;
		text-decoration: none;
		font-weight:400;
		height: auto;
		width: auto;
		transition: all .5s;
		font-family: var(--font-prinsipal);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
	}
}