
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	color: var(--mainColor);
	z-index: 10000;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 30px;
	border-bottom: solid 1px var(--secondaryColor);
	background-color: var(--textColor);
}
.logo {
	color: var(--mainColor);
	font-size: 2rem;
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
}
nav {
	position: fixed;
	top: 60px;
	left: 0;
	height: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--mainColor);
	transition: .5s ;
	z-index: 100;
	opacity: 0;
}
header .responsive_nav {
	opacity: 1;
	transition: all .5s;
	align-items: center;
	justify-content: space-around;
	height: 360px;
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--mainColor);
	opacity: 1;
	font-size: 1.8rem;
}
/* nav .nav-close-btn {
	position: absolute;
	top: 10px;
	right: 30px;
	color: var(--secondaryColor);
} */
.links {
	color: var(--textColor);
	font-size: 1.3rem;
	text-decoration: none;
	transition: all .4s;
	font-weight:600;
}


@media screen and (min-width:1024px) {
	header{
		justify-content: space-around;
	}
	nav{
	position: relative;
	top: 0;
	height: 50px;
	width: 500px;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: var(--textColor);
	transition: .1s ;
	gap: 50px;
	opacity: 1;
	}
	header .nav-btn {
		display: none;
	}
	.links {
		color: var(--mainColor);
		font-size: 1rem;
	}
	.links:hover{
		color: var(--secondaryColor);
	}
}