footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    color: var(--mainColor);
    background-color: var(--mainColor);
}
.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    gap: 19px;
    background-color: var(--textColor);
}
.redes a img {
    height: 23px;
    width: 23px;
}
footer > h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    background-color: var(--mainColor);
    color: var(--textColor);
    width: 100%;
    height: 60px;
}