
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&family=Raleway:wght@200;300;400;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
:root {
	--mainColor: #9D9D9D;
	--secondaryColor: #D9D9D9;
	--textColor: #FFFFFF;
    --font-prinsipal:'Raleway', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-prinsipal);
}
section{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px ;
}
