.slide-cont{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--mainColor);
}
.slide-cont > h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--textColor);
  padding: 18px 0 0;
}
.swiper {
    width: 360px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: var(--mainColor);
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 220px;
  }
  
  .swiper-slide img {
    width: 100%;
  }
