.slide-cont{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;

}
@media screen and (min-width: 896px){
  .slide-cont{
    width: 100vw;
  }
}
.slide-cont > h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: var(--mainColor);
  padding: 0;
  margin-bottom: 50px;
}
.swiper {
    width: 80%;
    overflow: hidden;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 220px;
  }
  
  .swiper-slide img {
    width: 100%;
  }

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--terciaryColor);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--mainColor);
  font-size: 18px;
  font-weight: bolder;
}

@media screen and (min-width:1024px) {
  .slide-cont{
    width: 80vw;
    height: 800px;
    margin: 0;  
    overflow: hidden;
  }

  .slide-cont > h2 {
    font-size: 40px;
  }
  .swiper {
      width: 60%;
      overflow: visible;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 500px;
    }
}